/******************************************************** 
　トップページ 
********************************************************/
.post {
  position: relative;
  width: 100%;
  height: 500px;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 70%;
  vertical-align: bottom;
}

.new-post-btn {
  position: absolute;
  top: 150px;
  padding-left: 90px;
  font-family: 'Kalam', cursive;
  font-family: 'Kalam', cursive;
  font-size: 70px;
  font-weight: 300;
  transition: 0.8s;

}
.new-post-btn:hover {
  font-size: 75px;
}


.new-post-btn a{
  text-decoration: none;
  color: black;
}

// .post-image {
//   width: 250px;
//   height: 250px;
//   position: absolute;
//   border-radius: 50%;
// }

