/******************************************************** 
　ヘッダー
********************************************************/
.new-heading {
  width: 100%;
  font-size: 40px;
  font-weight: 800;
  padding: 10px 0;
}
/******************************************************** 
　フォーム
********************************************************/

/* 共通 */
.new-image-content {
  width: 1000px;
  height: 550px;
  background-image: url(top.JPG);
  background-size: cover;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.new-main {
  width: 700px;
  margin: 0 auto;
}


.new-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
}

h2 {
  margin: 0;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
/* /共通 */

/* 画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  /* padding: 2vh 0; */
}

.image_input_btn {
  border-radius: 8px;
  border: solid 1px black;
  height: 30px;
  background-color: #f5f5f5;
  padding: 3px 35px ;
}
.item-image {
  display: none;
}
/* /画像 */

/* 作品名とメモ */
.new-items {
  padding: 2vh 0;
}

.form{
  display: flex;
  justify-content: space-between;
}

.day{
  margin-bottom: 2vh;
}
.date-select{
  border-radius: 8px;
  border: solid 1px black;
  height: 30px;
  background-color: #f5f5f5;
}
.items-text {
  width: 100%;
  /* padding: 2px; */
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}
.select-box {
  border-radius: 8px;
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}
/* /作品名とメモ */

