/* メイン */
.work-contents{
  border-radius: 15px;
  padding-top: 2px;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  /* background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); */
}
.work-contents-search {
  display: flex;
  margin: 15px 20px 5px;
  justify-content: space-between
}
.search-size {
  font-size: 20px;
  font-weight: bold;
}
.search-field-category {
  margin: 0 20px 30px;
}
.btn-outline-secondary{
  margin-left: 80px;
  margin-bottom: 10px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: calc(100% / 5);
  margin-bottom: 30px;
  text-align: center;
}
.image__wrapper img{
  object-fit: cover;
  height: 270px;
  width: 180px;
}
.card__img {
  margin-bottom: 16px;
  transition-duration:  .4s;
}
.card__img:hover{
  transform: scale(1.1);
}
.card__title {
  font-size: 20px;
}
.card__body a{
  text-decoration: none;
  color: black;
}
.card__body {
  margin: 0 10px;
}
.card__summary {
  font-size: 16px;
}
.card__title{
  font-size: 17px;
}
.card__summary {
  font-size: 14px;
  margin-top: 5px;
}
.pagination {
  justify-content: center;
}
.pagination>li>a {          
  border: none;    
  color: #696969;   
}
