<%= render "shared/header" %>

    <!-- トップページのメイン -->
  <div class="index-main">
    <div class="post">
      <%= image_tag"top.JPG", class:"main-image" %>
      <div class="new-post-btn">
        <%= link_to 'NEW POST',new_work_path %>
      </div>
    </div>
  </div>

<%= render "shared/footer" %>
