/******************************************************** 
　フッター
********************************************************/
.footer {
  width: 100%;
  height: 70px;
  background-color: #FAFAFA;
}

.copyright {
  line-height: 70px;
  text-align: center;
  font-size: 16px;
  color: #959393;
  font-family: 'Kalam', cursive;
  font-family: 'Kalam', cursive;
}
