
.layout-wrapper{
  width: 1000px;
  margin: 0 auto;
  font-family: 'Kalam', cursive;
  font-family: 'Kalam', cursive;
}

/******************************************************** 
　ヘッダー
********************************************************/
.header {
  width: 100%;
  text-align: center;
}

.heading{
  width: 100%;
  border-bottom: solid 1px black;
  font-size: 40px;
  font-weight: 800;
  padding: 10px 0;
}

.header a {
  text-decoration: none;
  color: #000000;
}


.nav-list {
  margin-right: 50px;
  font-size: 25px;
  font-weight: 500;
  padding: 5px 0;
}

.nav-recommended{
  margin-left: 50px;
  font-size: 25px;
  font-weight: 500;
  padding: 5px 0;

}

